# Documentation: https://direnv.net/man/direnv-stdlib.1.html
source_up_if_exists
dotenv_if_exists

export DID_DOC_FILE=".well-known/did.json"
export DOMAINNAME="id-web.example.com"
export DID_WEB="did:web:${DOMAINNAME}"
export VERIFICATION_METHOD=$(yq -r -oj .assertionMethod.0 "${DID_DOC_FILE}")
