# Documentation: https://caddyserver.com/docs/caddyfile/directives

{
  http_port 8080
  https_port 8443
}

id-broken.localhost {
  file_server {
    root ./test/websites/id-broken.localhost
  }
  tls {
    load ./test/website-certificates/id-broken.localhost.pem
  }
}

id-plus.localhost {
  file_server {
    root ./test/websites/id-plus.localhost
  }
  tls {
    load ./test/website-certificates/id-plus.localhost.pem
  }
}

id-web.localhost {
  file_server {
    root ./test/websites/id-web.localhost
  }
  tls {
    load ./test/website-certificates/id-web.localhost.pem
  }
}

id-did-configuration.localhost {
  file_server {
    root ./test/websites/id-did-configuration.localhost
  }
  tls {
    load ./test/website-certificates/id-did-configuration.localhost.pem
  }
}

no-id.localhost {
  file_server {
    root ./test/websites/no-id.localhost
  }
  tls {
    load ./test/website-certificates/no-id.localhost.pem
  }
}
