# Documentation: https://caddyserver.com/docs/caddyfile/directives

{
  http_port 8080
  https_port 8443
}

id-broken-plus-well-known.localhost {
  file_server {
    root ./test/websites/id-broken-plus-well-known.localhost
  }
  tls {
    load ./test/website-certificates/id-broken-plus-well-known.localhost.pem
  }
}

id-plus-broken-well-known.localhost {
  file_server {
    root ./test/websites/id-plus-broken-well-known.localhost
  }
  tls {
    load ./test/website-certificates/id-plus-broken-well-known.localhost.pem
  }
}

id-plus-well-known.localhost {
  file_server {
    root ./test/websites/id-plus-well-known.localhost
  }
  tls {
    load ./test/website-certificates/id-plus-well-known.localhost.pem
  }
}

id-well-known.localhost {
  file_server {
    root ./test/websites/id-well-known.localhost
  }
  tls {
    load ./test/website-certificates/id-well-known.localhost.pem
  }
}

no-id.localhost {
  file_server {
    root ./test/websites/no-id.localhost
  }
  tls {
    load ./test/website-certificates/no-id.localhost.pem
  }
}
