[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #03a9f4;
  --primary-hover: #63ccff;
  --primary-focus: #006db3;
  --primary-inverse: #fff;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #03a9f4;
    --primary-hover: #63ccff;
    --primary-focus: #006db3;
    --primary-inverse: #fff;
  }
}

/* Pink (Common styles) */
:root {
  --font-family: "Inter", system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

nav {
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

nav * a.active {
  text-decoration: underline;
}

nav * a,
nav * a:hover,
nav * a:active,
nav * a:focus {
  color: initial;
}

nav ul {
  list-style: none;
  display: inline;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 5px;
}

nav ul li:first {
  margin-left: 0;
}

div {
  /* make fonts in div elements the same a in p elements */
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

body {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body,
div#app {
  /* fix window size */
  min-height: 400px;
  min-width: 400px;
}

div#app {
  /* fix window size */
  max-width: 400px;
}

/* special styles for preview mode in HTML website during development */
html.isDev div#app {
  margin: 20px auto 0;
  box-shadow: 0px 0px 5px 5px gray;
}
