[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #03a9f4;
  --primary-hover: #63ccff;
  --primary-focus: #006db3;
  --primary-inverse: #fff;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #03a9f4;
    --primary-hover: #63ccff;
    --primary-focus: #006db3;
    --primary-inverse: #fff;
  }
}

/* Pink (Common styles) */
:root {
  --font-family: "Inter", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

nav {
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

nav * a.active {
  text-decoration: underline;
}

nav * a,
nav * a:hover,
nav * a:active,
nav * a:focus {
  background-color: none !important;
  --background-color: none !important;
}

div {
  /* make fonts in div elements the same a in p elements */
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

body {
  /* fix window size */
  width: 400px;
  height: 500px;
  min-height: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

body > footer,
body > header,
body > main {
  /* reduce padding */
  padding: 0 0 !important;
}

body > hearder {
  padding-top: 0.3rem;
  padding-bottom: 0.15rem;
}

body > footer {
  padding-top: 0.15rem;
  padding-bottom: 0.3rem;
}

body > main {
  padding: 0.15em var(--spacing) !important;
}

body > main {
  flex-grow: 1;
}

body > footer {
  flex-grow: 0;
}

/* a { */
/*   margin-right: 1rem; */
/* } */
/**/
/* main { */
/*   text-align: center; */
/*   padding: 1em; */
/*   margin: 0 auto; */
/* } */
/**/
/* h1 { */
/*   color: #03a9f4; */
/*   text-transform: uppercase; */
/*   font-size: 3rem; */
/*   font-weight: 100; */
/*   line-height: 1.1; */
/*   margin: 3rem auto; */
/*   max-width: 14rem; */
/* } */
/**/
/* p { */
/*   max-width: 14rem; */
/*   margin: 2rem auto; */
/*   line-height: 1.35; */
/* } */
/**/
/* @media (min-width: 480px) { */
/*   h1 { */
/*     max-width: none; */
/*   } */
/*   p { */
/*     max-width: none; */
/*   } */
/* } */
